<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true" align-title="left">


      <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 style="color:white; font-size: 26pt;">Local Shopper</h1>
            </div>
        </div>

        <div class="list" style="background-color: #ffffb3">

      <label  class="item item-input item-floating-label">
        <span class="input-label">EMAIL</span>
        <input type="text" placeholder="email" ng-model="loginData.email" >
      </label>

      <label class="item item-input item-floating-label">
        <span  class="input-label">PASSWORD?</span>
        <input type="password" placeholder="password" ng-model="loginData.password">
      </label>

      </div>

          <div class="padding">
            <button ng-click="doLogin()" class="button button-full button-balanced ink">Login</button>
        </div>

      
      </ion-content>

         <ion-footer-bar ui-sref="app.signup" class="bar bar-assertive pointer">
    <h1 class="title sans-pro-light">Register</h1>
  </ion-footer-bar> 


     
  <!-- in our custom header bar we give a link to start screen -->
  <!-- <ion-header-bar>
    <button ui-sref="app.start" class="button button-clear"><i class="ion-arrow-left-c"></i></button>
    <h2 class="title">Login</h2>
  </ion-header-bar>

  <ion-content style="background: url('img/login.jpg') center; background-size: cover;" class="has-header has-footer padding full-height text-center">

    <label class="item item-input">
        <input type="text" placeholder="email" ng-model="loginData.email">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="password" -ung-model="loginData.password">
    </label>
    <!
      #SIMPLIFIED-IMPLEMENTATION:
      login just sets an user! (see controllers.js for more)
    -->
    <!-- <button class="button button-block button-balanced" ng-click="doLogin()">LOGIN</button>
    
  </ion-content> -->

  <!-- we put the forgot password link in the footer -->
  <!-- <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.forgot">
    <h1 class="title sans-pro-light">Forgot password?</h1>
  </ion-footer-bar> -->
  

</ion-view>
